<html>
    <body>
        <h1>{{db_result.Heading}}</h1>

        <form action="/insert_data" method="post" >
            <fieldset>
                <legend>Sample Form</legend>
                First name:<br>
                <input type="text" name="firstname" >
                <br>
                Last name:<br>
                <input type="text" name="lastname">
                <br><br>
                <input type="submit" value="Submit">
            </fieldset>
        </form>

    </body>
</html>